<!--users/templates/registration/login.html-->

{% extends 'master.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block extra_sheets %}
    <!-- <link rel="stylesheet" href="{% static 'css/login.css' %}"> -->
{% endblock extra_sheets %}
    

{% block content %}

<!-- <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Login">
</form>

<a href="{% url 'users:dashboard' %}">Back to dashboard</a>
<a href="{% url 'password_reset' %}">Reset password</a> -->

<!-- <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center text-dark mt-5">Login Form</h2>
        <div class="text-center mb-5 text-dark">Made with bootstrap</div>
        <div class="card my-5">

          <form class="card-body cardbody-color p-lg-5" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="text-center">
              <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="200px" alt="profile">
            </div>

            <div class="mb-3">
              <input type="text" class="form-control" id="Username" name="username" aria-describedby="emailHelp"
                placeholder="User Name">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" id="password" name="password" placeholder="password">
            </div>
            <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Login</button></div>
            <div id="emailHelp" class="form-text text-center mb-5 text-dark">Not
              Registered? <a href="{% url 'users:signup' %}" class="text-dark fw-bold"> Create an
                Account</a>
                <br>
                <a href="{% url 'password_reset' %}" class="text-dark text-center fw-bold">Forgot password?</a>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h2 class="card-title text-center mb-5">Sign In</h2>
            <form method="post">
              {% csrf_token %}
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="d-grid">
                <p><a href="">Forgotten password?</a></p>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
                  in</button>
              </div>
              <hr class="my-4">
              <div class="d-grid mb-2">
                <p>Not registered yet? <a href="">Sign up now!</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}