{% load static %}
<!-- Footers -->
  <footer class="footer_area section_padding_130_0 bg-white">

    <div class="container align-items-center justify-content-center text-center p-0">
      <form method="post" action="{% url 'newsletters:new' %}" class="row justify-content-center align-items-center g-3">
        {% csrf_token %}
        <div class="col-7 col-sm-6 mx-0 my-0 p-0">
          <input type="email" name="email" class="form-control form-control-lg rounded-pill bg-light" placeholder="Enter email here..." />
        </div>
        <div class="col-auto mx-3 my-0 p-0">
          <button type="submit" class="btn btn-lg btn-primary mb-3 rounded-pill">Subscribe</button>
        </div>
      </form>
    </div>

    <div class="container">
      <div class="row">
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg-4 my-3">
          <div class="single-footer-widget">
            <!-- Footer Logo-->
            <div class="footer-logo">
              <img src="{% static 'img/logo.webp' %}" alt="SarkariVigyaapan" style="height: 60px; width: 60px; margin-top: -10px;" class="d-inline-block align-text-top">
            </div>
            <!-- <p>Appland is completely creative, lightweight, clean app landing page.</p> -->

            <!-- Copywrite Text-->
            <div class="copywrite-text mb-4">
              <p class="mb-0">Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#">us.</a></p>
            </div>
            <!-- Footer Social Area-->
            <div class="footer_social_area">
              <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Telegram">
                <i class="fa fa-telegram"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg my-3">
          <div class="single-footer-widget">
            <!-- Widget Title-->
            <h5 class="widget-title">About</h5>
            <!-- Footer Menu-->
            <div class="footer_menu">
              <ul>
                <li><a href="{% url 'main:about' %}">About Us</a></li>
                <li><a href="{% url 'main:privacy-policy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'main:disclaimer' %}">Disclaimer</a></li>
                <li><a href="{% url 'main:tnc' %}">Terms &amp; Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg my-3">
          <div class="single-footer-widget">
            <!-- Widget Title-->
            <h5 class="widget-title">Contact</h5>
            <!-- Footer Menu-->
            <div class="footer_menu">
              <ul>
                <li><a href="{% url 'main:contact' %}">Email Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg my-3">
          <div class="single-footer-widget">
            <!-- Widget Title-->
            <h5 class="widget-title">Miscellaneous</h5>
            <!-- Footer Menu-->
            <div class="footer_menu">
              <ul>
                <li><a href="/sitemap.xml">Sitemap</a></li>
                <li><a href="{% url 'jobs:search_results' %}">Find jobs</a></li>
                <li><a href="{% url 'jobs:tagList' %}">Tags</a></li>
                <li><a href="{% url 'jobs:archiveList' %}">Archive</a></li>
                <!-- <li><a href="#">Help &amp; Support</a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
<!-- End of .container -->