{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light p-0 bg-white navbar-shadow">
  <div class="container">
    <a class="navbar-brand" href="{% url 'main:index' %}">
      <img src="{% static 'img/logo.png' %}" alt="SarkariVigyaapan" style="height: 60px;" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'main:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'jobs:search_results' %}">Find Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'jobs:list_by_type' 'result' %}">Results</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'jobs:list_by_type' 'admit-card' %}">Admit Card</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'jobs:list_by_type' 'answerkey' %}">Answer Key</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:contact' %}">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <!-- Navbar -->