<div
class="container align-items-center justify-content-center text-center p-5 pb-3"
>
<div class="row">
  <h3 id="sub-heading">Looking to get your dream</h3>
  <h1 id="heading">Sarkari Job</h1>
</div>
<div class="row my-2"></div>
<form method="GET" action="{% url 'jobs:search_results' %}" class="row justify-content-center align-items-center g-3">
  <div class="col-10 col-sm-6 mx-0 my-0">
    <input
      type="text"
      class="form-control form-control-lg rounded-pill bg-light"
      placeholder="Search job, category or department here..."
      name="search"
    />

  </div>
  <div class="col-auto mx-0 my-0">
    <button type="submit" class="btn btn-lg btn-primary mb-3 rounded-pill">
      Search
    </button>
  </div>
</form>
</div>