{% load social_share %}

    <!-- Share page -->
    <!-- <div class="container my-3">
        <div class="row justify-content-center">
          <div class="col-6 d-flex justify-content-center gap-4">
            {% post_to_facebook object_or_url '<i class="fa fa-facebook"></i>' %}
            {% post_to_twitter "SarkariVigyapan: {{object.title}}. Check it out!" object_or_url '<i class="fa fa-twitter"></i>' %}
            {% post_to_telegram "SarkariVigyapan: {{object.title}}" object_or_url '<i class="fa fa-telegram"></i>' %}
          </div>
        </div>
      </div> -->
      <!-- Share page -->


      <!-- Fixed share section -->
      <div class="d-inline-block bg-white start-0 position-fixed top-50 px-2 py-3 fixed_social">
        {% post_to_facebook object_or_url '<i class="fa fa-facebook my-2 fs-5"></i>' %}
        {% post_to_twitter "SarkariVigyapan: {{object.title}}. Check it out!" object_or_url '<i class="fa fa-twitter my-2 fs-5"></i>' %}
        {% post_to_telegram "SarkariVigyapan: {{object.title}}" object_or_url '<i class="fa fa-telegram my-2 fs-5"></i>' %}
        {% post_to_whatsapp object_or_url '<i class="fa fa-whatsapp my-2 fs-5"></i>' %}
      </div>
      <!-- Fixed share section ends here -->
