{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
  | About
{% endblock pagetitle %}

{% block meta %}
  <meta name="description" content="SarkariVigyaapan- A government job notifications portal, सरकारी विज्ञापन, Sarkari naukri, Sarkari exams">
{% endblock meta %}


{% block meta_opengraph %}
  <!-- for opengraph -->
  <meta property="og:title" content="SarkariVigyaapan- A government job notifications portal">
  <meta property="og:url" content={{request.build_absolute_uri}}>
  <meta property="og:description" content="SarkariVigyaapan- A government job notifications portal">
  <!--  -->
{% endblock meta_opengraph %}
  

{% block meta_twitter %}
  <!-- for twitter-card -->
  <meta name="twitter:title" content="SarkariVigyaapan- A government job notifications portal">
  <meta name="twitter:description" content="SarkariVigyaapan- A government job notifications portal">
  <meta name="twitter:url" content="{{request.build_absolute_uri}}">
  <!-- ..... -->
{% endblock meta_twitter %}

{% block content %}
  <div class="container my-5 p-5">
    <div class="row">
      <div class="container">
        <h1 class="text-center">About Us!</h1>
        <h3 class="text-center">
          Welcome To <span id="W_Name1">www.sarkarivigyaapan.com</span>
        </h3>
        <p>
          <span id="W_Name2">www.sarkarivigyaapan.com</span> is a Professional
          <span id="W_Type1">Job Listing</span> Platform. Here we will provide you
          only interesting content, which you will like very much. We're dedicated
          to providing you the best of <span id="W_Type2">Job Listing</span>, with a
          focus on dependability and
          <span id="W_Spec">Government Jobs notification</span>. We're working to
          turn our passion for <span id="W_Type3">Job Listing</span> into a booming
          online website. We hope you enjoy our <span id="W_Type4">Job Listing</span> as much as
          we enjoy offering them to you.
        </p>
        <p>
          I will keep posting more important posts on my Website for all of you.
          Please give your support and love.
        </p>
        <p style="font-weight: bold; text-align: center">
          Thanks For Visiting Our Site<br><br>
          <span style="
              color: blue;
              font-size: 16px;
              font-weight: bold;
              text-align: center;
            ">Have a nice day!</span>
        </p>
      </div>
    </div>
  </div>
{% endblock content %}