{% extends 'base.html' %}
{% load static %}

{% block extra_sheets %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock extra_sheets %}

{% block pagetitle %}
  | Contact us
{% endblock pagetitle %}

{% block meta %}
  <meta name="description" content="SarkariVigyaapan- A government job notifications portal, सरकारी विज्ञापन, Sarkari naukri, Sarkari exams">
{% endblock meta %}


{% block meta_opengraph %}
  <!-- for opengraph -->
  <meta property="og:title" content="SarkariVigyaapan- A government job notifications portal">
  <meta property="og:url" content={{request.build_absolute_uri}}>
  <meta property="og:description" content="SarkariVigyaapan- A government job notifications portal">
  <!--  -->
{% endblock meta_opengraph %}
  

{% block meta_twitter %}
  <!-- for twitter-card -->
  <meta name="twitter:title" content="SarkariVigyaapan- A government job notifications portal">
  <meta name="twitter:description" content="SarkariVigyaapan- A government job notifications portal">
  <meta name="twitter:url" content="{{request.build_absolute_uri}}">
  <!-- ..... -->
{% endblock meta_twitter %}

{% block content %}

<div class="container-fluid m-0 my-5 px-0 py-5">
  <!-- <div class="row">
    <div class="col-12"> -->
      <h1 style="font-size: 48px; font-weight: 400;">Contact us</h1>
    <!-- </div>
  </div> -->
    <div class="row d-flex align-items-center bg-white py-3">
        <div class="image col-12 col-sm-6 m-0 p-0">
            <img src="{% static 'img/contact.jpg' %}" alt="contact">
        </div>

        <div class="form-container col-12 col-sm-6 m-0 p-5">
            <form action="{% url 'main:contact'  %}" method="post">
              {% csrf_token %}
              {{ form.as_p}}
              
              <!-- <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
          
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    
              <label for="email">Email</label>
              <input type="email" id="email" name="email" placeholder="Your email address..">
               
              <label for="subject">Subject</label>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
           -->
              <input type="submit" value="Submit">
            </form>
          </div>
    </div>
    <!-- <div class="box">
        <div class="image">
            <img src="{% static 'img/contact.jpg' %}" alt="contact">
          </div>
    
        <div class="form-container">
            <form action="action_page.php">
          
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
          
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    
              <label for="email">Email</label>
              <input type="email" id="email" name="email" placeholder="Your email address..">
               
              <label for="subject">Subject</label>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
          
              <input type="submit" value="Submit">
          
            </form>
          </div>
    </div> -->
</div>

    
{% endblock content %}
        