{% extends 'base.html' %}
{% load static %}


{% block pagetitle %}
    | Newsletter confirmation
{% endblock pagetitle %}
    

{% block content %}
    <div class="container my-5 p-5">
        <div class="row">
            <div class="col-12">
                <h1>Email Newsletter</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if email %}
                    <div class="alert alert-success" role="alert">
                        <p>{{ email }} has been {{ action }}.</p>
                    </div>
                {% endif %}
            </div>
            {% if form %}
                <div class="col-12 col-md-4">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <button type="submit" class="btn btn-success">Subscribe!</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
