{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <meta name="description" content="SarkariVigyaapan- A government job notifications portal. Get all the government job notification and latest update on government vacancies. Sarkari Vigyaapan is committed to bring you every important job updates under single page. So what are you waiting for !!! Start yours at: www.sarkarivigyaapan.com">
  <meta name="keywords" content="सरकारी विज्ञापन, sarkari exam, sarkari network, sarkari job, sarkari naukri, sarkari result">
{% endblock meta %}

{% block meta_opengraph %}
  <!-- for opengraph -->
  <meta property="og:title" content="SarkariVigyaapan- A government job notifications portal">
  <meta property="og:url" content={{request.build_absolute_uri}}>
  <meta property="og:description" content="Get all the government job notification and latest update on government vacancies. Sarkari Vigyaapan is committed to bring you every important job updates under single page. So what are you waiting for !!! Start yours at: www.sarkarivigyaapan.com">
<meta property="og:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'img/logo.webp' %}">
  <!--  -->
{% endblock meta_opengraph %}

{% block meta_twitter %}
  <!-- for twitter-card -->
  <meta name="twitter:title" content="SarkariVigyaapan- A government job notifications portal">
  <meta name="twitter:description" content="Get all the government job notification and latest update on government vacancies. Sarkari Vigyaapan is committed to bring you every important job updates under single page. So what are you waiting for !!! Start yours at: www.sarkarivigyaapan.com">
  <meta name="twitter:url" content="{{request.build_absolute_uri}}">
<meta name="twitter:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'img/logo.webp' %}">
  <!-- ..... -->
{% endblock meta_twitter %}

{% block pagetitle %}
    | Archive
{% endblock pagetitle %}

{% block content %}
        <!-- Category section -->
          <div class="container text-center my-5 p-5">
            <div class="row">
              <h1 class="sectional-heading" style="padding: 10px;"><strong>Archive</strong></h1>
            </div>

            <!-- Tags -->
            <div class="container">
              <div class="row justify-content-center">
                <ul class="nav nav-pills container justify-content-center">

                  <h2>No archives are found yet...</h2>
                    <!-- <li class="nav-item mx-1 my-1 category-pill bg-light">
                      <a class="nav-link" aria-current="page" href="">{{archive.name}}</a>
                    </li> -->

                </ul>
              </div>
            </div>
            <!-- Tags end here -->
          </div>
          <!-- Category section ends here -->
{% endblock content %}
