{% extends 'base.html' %}
{% load static %}

    
    {% block extra_sheets %}
      <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% endblock extra_sheets %}
        
    {% block meta %}
      <meta name="description" content="{{object.brief_intro}}">
      <meta name="keywords" content="{{object.keywords}}">
    {% endblock meta %}

    {% block meta_opengraph %}
      <!-- for opengraph -->
      <meta property="og:title" content="{{ object.post_title }}">
      <meta property="og:url" content={{request.build_absolute_uri}}>
      <meta property="og:description" content="{{object.brief_intro|slice:':88'}}">
      <!--  -->
    {% endblock meta_opengraph %}
      
    {% block meta_twitter %}
      <!-- for twitter-card -->
      <meta name="twitter:title" content="{{ object.post_title }}">
      <meta name="twitter:url" content="{{request.build_absolute_uri}}">
      <meta name="twitter:description" content="{{object.brief_intro|slice:':88'}}">
      <!-- ..... -->
    {% endblock meta_twitter %}

    
    {% block pagetitle %}
      {{ object.post_title }}
    {% endblock pagetitle %}
      
    
    {% block content %}
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-10 col-sm-8 detail-card p-4 justify-content-center ">
          <hr>
          <!-- <h1>Bihar BPSC 68th Recruitment 2022 Apply Online for 281 Post</h1> -->
          <h1>{{ object.post_title|title }} {{ object.application_mode }} 
              {% if object.total_posts %}
                for {{ object.total_posts }} posts
              {% endif %}
          </h1>
          <hr>
          <br>
          
          {% if object.notification_date %}
            <h2>{{ object.notification_date }}</h2>
          {% endif %}
            
          <br>
          <p>
            {{ object.brief_intro}}
          </p>
          <ul>
            <li>Minimum qualification: {{object.minimum_qualification}} </li>
          </ul>
  
          <div class="container my-3">
            <div class="row">
              <ul class="nav nav-pills container justify-content-center">
               
                {% for tag in object.tags.all %}
                  <li class="nav-item mx-1 my-1 category-pill bg-light">
                    <a class="nav-link" aria-current="page" href="{% url 'jobs:job_list_by_tags' tag.slug %}">{{tag.name}}</a>
                  </li>
                {% endfor %}
    
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

      <div class="container my-5">
        <div class="row justify-content-center">
          <div class="col-10 col-sm-8 detail-card p-4 justify-content-center ">
            <hr>
            <h1>{{object.post_title|title}} vacancy details</h1>
            <hr>
            <br>
            
            {% if object.content %}
              {{object.content|safe}}
            {% else %}
              <h2>Will be updated soon...</a></h2>
            {% endif %}
              
            <br>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-10 col-sm-4 detail-card p-4 mb-5 mx-1 justify-content-center ">
            <hr>
            <h1>Important Dates</h1>
            <hr>
            <br>
            <ul>
              <li>Application Begin : 
              {% if object.online_application_date %}
              <strong>{{object.online_application_date}}</strong>
              {% else %}
                To be announced
              {% endif %}
                </li>
              <li>Last Date for Apply Online : 
              {% if object.application_expiry_date %}
              <strong>{{object.application_expiry_date}}</strong>
              {% else %}
                To be announced
              {% endif %}
              </li>
              <li>Pay Exam Fee Last Date : 
                {% if object.fee_last_date %}
                  {{object.fee_last_date}}
                {% else %}
                  Unannounced
                {% endif %}
              </li>

              {% if object.correction_date %}
              <li>Correction Last Date : {{object.correction_date}}</li>
              {% endif %}

              <li>Exam Date :
                {% if object.exam_date %}
                  {{object.exam_date}}
                {% else %}
                  Unannounced
                {% endif %}
              </li>
            </ul>
          </div>
          <div class="col-10 col-sm-4 detail-card p-4 mb-5 mx-1 justify-content-center ">
            <hr>
            <h1>Application Fee</h1>
            <hr>
            <br>
            <ul>
              <li>General / OBC/ Other State : 
                {% if object.general_obc_fee %}
                  {{object.general_obc_fee}}
                {% else %}
                  Unannounced
                {% endif %}
                /-</li>
              <li>SC / ST / PH : 
                {% if object.sc_st_ph_fee %}
                  {{object.sc_st_ph_fee}}
                {% else %}
                  Unannounced
                {% endif %}
                /-</li>
              <li>Female Candidate :
                {% if object.female_fee %}
                  {{object.female_fee}}
                {% else %}
                  Unannounced
                {% endif %}
                /-</li>
              <li>Pay the Exam Fee Through Online / Offline Fee Mode Only</li>
            </ul>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="container mb-5">
        <div class="row justify-content-center">
          <div class="col-10 col-sm-8 detail-card p-4 justify-content-center ">
            <hr>
            <h1>Age Limit</h1>
            <hr>
            <br>
            <ul>
              <li>Minimum Age : {{ object.minimum_age }} Years (Post Wise)</li>
              <li>Maximum Age : {{ object.maximum_age }} Years</li>
              <!-- <li>Maximum Age : 40 Female</li> -->
              <li>Age Relaxation as per state or central rules </li>
            </ul>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="container mb-5">
        <div class="row justify-content-center">
          <div class="col-10 col-sm-8 detail-card p-4 justify-content-center ">
            <hr>
            <h1>Some Useful Important Links</h1>
            <hr>
            <br>
            <div class="grid-container">              
              {% if object.application_link %}
                <a href="" class="text-decoration-none"><div class="grid-item">Apply online</div></a>
              {% else %}
                <div class="grid-item">Application link will be updated soon...</div>
              {% endif %}

              {% if object.application_link %}
                <a href="" class="text-decoration-none"><div class="grid-item">Download notification</div></a>
              {% else %}
                <div class="grid-item">Notification link will be updated soon...</div>
              {% endif %}

              {% if object.application_link %}
                <a href="" class="text-decoration-none"><div class="grid-item">Download result</div></a>
              {% else %}
                <div class="grid-item">Result link will be updated soon...</div>
              {% endif %}

              {% if object.application_link %}
                <a href="" class="text-decoration-none"><div class="grid-item">Official website</div></a>
              {% else %}
                <div class="grid-item">Official website link will be updated soon...</div>
              {% endif %}

              <a href="" class="text-decoration-none"><div class="grid-item">Join us on Telegram</div></a>
            </div>
          </div>
        </div>
      </div>
      <!--  -->

      <!-- Share page -->
      {% include 'partials/_share.html' %}
      <!-- Share page -->

    {% endblock content %}
  

