{% extends 'base.html' %}
{% load static %}


{% block pagetitle %}
    | Job List
{% endblock pagetitle %}

{% block meta %}
    <meta name="description" content="SarkariVigyaapan- A government job notifications portal, सरकारी विज्ञापन, Sarkari naukri, Sarkari exams, ">
{% endblock meta %}

{% block meta_opengraph %}
<!-- for opengraph -->
<meta property="og:title" content="SarkariVigyaapan | Job postings">
<meta property="og:url" content={{request.build_absolute_uri}}>
<meta property="og:description" content="Lists of job notifications">
<!--  -->
{% endblock meta_opengraph %}

{% block meta_twitter %}
<!-- for twitter-card -->
<meta name="twitter:title" content="SarkariVigyaapan | Job postings">
<meta name="twitter:url" content="{{request.build_absolute_uri}}">
<meta name="twitter:description" content="Lists of job notifications">
<!-- ..... -->
{% endblock meta_twitter %}
    

<!-- templates/books/search_results.html -->

{% block content %}
    <div class="container my-5 text-center">
        <div class="row">
            <h1>Job notifications</h1>
        </div>
        <!--  -->
        <div class="row justify-content-center">

            <div class="col-sm-8 my-3">
              <div class="card bg-white py-3 px-3">
                <!-- <div class="card-header bg-transparent">
                  <h4 class="text-center m-0 notification-card-header">Search results</h4>
                </div> -->
                <ul class="list-group list-group-flush bg-transparent">
                  
                    {% if job_list %}
                        {% for job in job_list %}
                            
                            <a class="list-group-item bg-transparent" href="{{ job.get_absolute_url }}">{{ job.post_title }}</a>

                        {% endfor %}
                    {% endif %}
                  
                          
                </ul>
              </div>
            </div>
          </div>

          <!--  -->
        <!-- <div class="row">
            <ul>
                
                {% if job_list %}
                    {% for job in job_list %}
                        <a href="{{ job.get_absolute_url }}" class="text-decoration-none">
                            <li>{{ job.post_title }}</li>
                            <span class="text-end text-muted">{{job.}}</span>
                        </a>
                    {% endfor %}
                {% endif %}
                    
            </ul>
        </div> -->


    </div>

    {% include 'partials/_pagination.html' %}

{% endblock content %}