{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
| {{keyword|title}}
{% endblock pagetitle %}

{% block meta %}
  <meta name="description" content="SarkariVigyaapan- A government job notifications portal. Get all the government job notification and latest update on government vacancies. Sarkari Vigyaapan is committed to bring you every important job updates under single page. So what are you waiting for !!! Start yours at: www.sarkarivigyaapan.com">
  <meta name="keywords" content="सरकारी विज्ञापन, sarkari exam, sarkari network, sarkari job, sarkari naukri, sarkari result">
{% endblock meta %}

{% block meta_opengraph %}
<!-- for opengraph -->
<meta property="og:title" content="SarkariVigyaapan | Job postings based on {{keyword}}">
<meta property="og:url" content={{request.build_absolute_uri}}>
<meta property="og:description" content="Lists of job notifications based on {{keyword}}">
<meta property="og:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'img/logo.webp' %}">
<!--  -->
{% endblock meta_opengraph %}

{% block meta_twitter %}
<!-- for twitter-card -->
<meta name="twitter:title" content="SarkariVigyaapan | Job postings based on {{keyword}}">
<meta name="twitter:url" content="{{request.build_absolute_uri}}">
<meta name="twitter:description" content="Lists of job notifications based on {{keyword}}">
<meta name="twitter:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'img/logo.webp' %}">
<!-- ..... -->
{% endblock meta_twitter %}


{% block content %}
    <div class="container my-5 p-5 text-center">
        <div class="row">
            <h1><strong>{{keyword|title}}</strong></h1>
            <!--{% if keyword == 'admission' %}-->
            <!--    <h1>Admission</h1>-->
            <!--{% else %}-->
            <!--    <h1>Job notifications by {{keyword|title}}</h1>-->
            <!--{% endif %}-->

        </div>
        <!--  -->
        <div class="row justify-content-center">

            <div class="col-sm-8 my-3">
              <div class="card bg-white py-3 px-3">

                <ul class="list-group list-group-flush bg-transparent">

                    {% if page_obj %}
                        {% for job in page_obj %}

                            <a class="list-group-item bg-transparent" href="{% url 'jobs:jobDetail' job.slug %}" target="_blank">{{ job.post_title }}</a>

                        {% endfor %}
                    {% else %}
                        Not available yet...
                    {% endif %}


                </ul>
              </div>
            </div>
          </div>

    </div>

    {% include 'partials/_pagination.html' %}

{% endblock content %}
