{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}
    | Tags list
{% endblock pagetitle %}

{% block meta %}
      <meta name="description" content="SarkariVigyaapan- A government job notifications portal">
      <meta name="keywords" content="सरकारी विज्ञापन, sarkari exam, sarkari network, sarkari job, sarkari naukri, sarkari result"
{% endblock meta %}

{% block meta_opengraph %}
<!-- for opengraph -->
<meta property="og:title" content="SarkariVigyaapan | Tags list">
<meta property="og:url" content={{request.build_absolute_uri}}>
<meta property="og:description" content="Lists of tags">
<meta property="og:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'img/logo.webp' %}">
<!--  -->
{% endblock meta_opengraph %}

{% block meta_twitter %}
<!-- for twitter-card -->
<meta name="twitter:title" content="SarkariVigyaapan | Tags list">
<meta name="twitter:url" content="{{request.build_absolute_uri}}">
<meta name="twitter:description" content="Lists of tags">
<meta name="twitter:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'img/logo.webp' %}">
<!-- ..... -->
{% endblock meta_twitter %}

{% block content %}
        <!-- Category section -->
          <div class="container text-center my-5 p-5">
            <div class="row">
              <h1 class="sectional-heading" style="padding: 10px;">Tags</h1>
            </div>

            <!-- Tags -->
            <div class="container">
              <div class="row justify-content-center">
                <ul class="nav nav-pills container justify-content-center">

                  {% for tag in tag_list %}
                    <li class="nav-item mx-1 my-1 category-pill bg-light fw-semibold">
                      <a class="nav-link" aria-current="page" href="{% url 'jobs:job_list_by_tags' tag.slug%}" target="_blank">{{tag.name}}</a>
                    </li>
                  {% endfor %}

                </ul>
              </div>
            </div>
            <!-- Tags end here -->
          </div>
          <!-- Category section ends here -->
{% endblock content %}
